In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

ds=pd.read_csv("Data.csv")
ds

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [2]:
X=ds.iloc[:,:-1].values
X #matrix of features

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [3]:
y=ds.iloc[:,-1].values
y #dependent variable

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

In [4]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [5]:
print (X_train)
print (X_test)

[['Germany' 40.0 nan]
 ['France' 37.0 67000.0]
 ['Spain' 27.0 48000.0]
 ['Spain' nan 52000.0]
 ['France' 48.0 79000.0]
 ['Spain' 38.0 61000.0]
 ['France' 44.0 72000.0]
 ['France' 35.0 58000.0]]
[['Germany' 30.0 54000.0]
 ['Germany' 50.0 83000.0]]

In [6]:
print (y_train)
print (y_test)

['Yes' 'Yes' 'Yes' 'No' 'Yes' 'No' 'No' 'Yes']
['No' 'No']

In [8]:
from sklearn.preprocessing import LabelEncoder
lex=LabelEncoder()
X[:,0]=lex.fit_transform(X[:,0])
X[:,0]  # transforms into 0,1,2

array([0, 2, 1, 2, 1, 0, 2, 0, 1, 0], dtype=object)

In [9]:
from sklearn.preprocessing import StandardScaler
X_sc=StandardScaler()
X[:,1:]=X_sc.fit_transform(X[:,1:])
X[:,1:]

array([[0.7199314321591973, 0.711012758872281],
       [-1.6236751448696793, -1.3643758345927564],
       [-1.2100975136292893, -0.845528686226497],
       [-0.1072238303215827, -0.24020701313252774],
       [0.16849459050534396, nan],
       [-0.5208014615619727, -0.4996305873156574],
       [nan, -1.0184777356819168],
       [1.2713682738130507, 1.3163344319662502],
       [1.5470866946399773, 1.6622325308770898],
       [-0.24508304073504605, 0.2786401352337316]], dtype=object)